body {
    background-image: url("https://sdk.bitmoji.com/render/panel/5479aa75-4dc9-4d4b-944c-c961e3831d6f-3401a325-cc0b-4b83-af04-f333256ff5bd-v1.png?transparent=1&palette=1");
    background-size: cover;
    color: blue;
    height: 200px
}

h1 {
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px purple;
    text-align: center;

}

.link {
    display: inline;
    font-size: 36px;
    color: cyan;
    font-family: Merienda;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px purple;
    padding-left: 30px;
    padding-right: 30px;

}
.links:hover{
    font-size: 40px;
    text-decoration: underline;
}
.profile{
    border-radius:50%;

}
.parallax-inner{
    text-align: center;
        vertical-align: middle;
}
#name{
    font-family: Crimson Pro;
        font-size: 50px;
}

 #img{
     height:300px;
 }

    .sp{
        margin-left:300px ;
        margin-right:00px;
        height:300px;
    }
    
    
 
    h3{
        margin-left:300px;
    }
    
    
    
    .sp1{
        margin-left:100px;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
